<div class="jumbotron text-center">
	<h3>New Orleans 2016 Crime Year in Review</h3>
	<h5>This dataset reflects incidents that have been reported to the New Orleans Police Department in 2016. Data is provided by Orleans Parish Communication District (OPCD), the administrative office of 9-1-1 for the City of New Orleans. Raw dataset can be found <a href="https://data.nola.gov/Public-Safety-and-Preparedness/Calls-for-Service-2016/wgrp-d3ma"> here</a> Contact: blakebutterworth@gmail.com for questions or inquiries</h5>
	<h5> Number of NOPD call for service from Jan 1 to now {{numberOfCalls}}</h5>
</div>